*{
    margin: 0;
    padding: 0;
}

body{font-family: 'Poppins', sans-serif;}
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

    
}

.cabeçalho-imagem{

width: 10%;

}
.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 34px;



}
.AP-imagem{
width: 25%;

}

.AP{
    background-color:cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}
.AP-div-conteudo{
width: 35%;


}

.AP-titulo{
padding: 24px 0;

}

.AP-texto-1{
    padding: 24px o;
    font-size: 24px;
    
}

.AP-texto-2{
    padding: 24px o;
    font-size: 24px;


}
.curso-imagem{
    width: 320px;
}

.curso-icone{
    width: 24px;

}
.curso{
padding: 24px;
margin: 6px;
font-size: 24px;


}
.curso-div{
    text-align:center;
    font-size: 24px;

}
.curso-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
    .curso-titulo{

    text-align:center;
    padding: 50px 0;
    }
    .curso-todos{
        display: grid;
    }
    .rodapé{
        background-color:black;
        text-align: center;
    }
    .rodapé-imagem{
        height:60px;
        padding: 12px 0;
        
    }

    








